@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Esh</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/css/st.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/hss.css" />
    <link type="text/css" rel="stylesheet" href="~/css/msg.css" />
    <link type="text/css" rel="stylesheet" href="~/css/nst.css" />
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        @if (@HttpContextAccessor.HttpContext.Session.GetString("set")!=null && @HttpContextAccessor.HttpContext.Session.GetString("set")[0]=='1')
        {
          
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Esh &nbsp;&nbsp; </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Post" asp-action="Index">Create Post&nbsp;&nbsp; </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="MyNetwork" asp-action="">MyNetwork&nbsp;&nbsp; </a>
                            </li>

                            <li class="nav-item">
                                <form class="form-inline" asp-controller="Home" asp-action="Search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@ViewBag.Username" placeholder="Search User" required>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Recommended" asp-action="">Recommended Connection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Chat" asp-action="ChatHome">Message</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-bell">
                                        <span class="badge badge-info">0</span>
                                    </i>
                                    Notifications
                                </a>
                            </li>
                            <!--<li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="MyProfile">My Profile</a>
    </li>-->
                            <!--<li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Home" asp-action="UserProfile">Profile Example</a>
    </li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        }
        else
        {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Esh</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
         
                </ul>
            </div>
        </div>
    </nav>
        }

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
