@model Esh.ViewModel.userdata

@{
    ViewData["Title"] = "My-Profile";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Update_MyData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EshUsers.name" class="control-label"></label>
                <input asp-for="EshUsers.name" class="form-control" />
                <span asp-validation-for="EshUsers.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EshUsers.Persnal_Site_URL" class="control-label"></label>
                <input asp-for="EshUsers.Persnal_Site_URL" class="form-control" />
                <span asp-validation-for="EshUsers.Persnal_Site_URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EshUsers.designation" class="control-label"></label>
                <input asp-for="EshUsers.designation" class="form-control" />
                <span asp-validation-for="EshUsers.designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EshUsers.about" class="control-label"></label>
                <input asp-for="EshUsers.about" class="form-control" />
                <span asp-validation-for="EshUsers.about" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <span>Male</span> @Html.RadioButtonFor(model => model.EshUsers.gender, true)
                    <span>FeMale</span> @Html.RadioButtonFor(model => model.EshUsers.gender, false)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EshUsers.Schoolname" class="control-label">School/Organization Name : </label>
                <input asp-for="EshUsers.Schoolname" class="form-control" />
                <span asp-validation-for="EshUsers.Schoolname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>






@foreach (var obj in Model.pdvs)
{
    <div class="card text-center">
        <div class="card-header">
            @obj.title
        </div>
        <div class="card-body">
            <p class="card-text">@Html.Raw(obj.richtext)</p>

        </div>
        <div class="card-footer text-muted">
            @obj.uploadtime

        </div>
        <div class="btn-group btn-group-justified">
            <a asp-controller="Home" asp-action="Edit_Post" asp-route-id="@obj.Postid" class="btn btn-success">Edit</a>
            <a asp-controller="Home" asp-action="Delete_Post" asp-route-id="@obj.Postid" class="btn btn-danger">Delete</a>

        </div>
        <div class="bg-white p-2">
            <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#collapse-1"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-2" href="#collapse-2"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
            </div>
        </div>

        <div id="collapse-1" class="bg-light p-2 collapse" data-parent="#myGroup">
            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
        </div>

        <div id="collapse-2" class="bg-light p-2 collapse" data-parent="#myGroup">
            <div class="d-flex flex-row align-items-start"><i class="fa fa-facebook border p-3 rounded mr-1"></i><i class="fa fa-twitter border p-3 rounded mr-1"></i><i class="fa fa-linkedin border p-3 rounded mr-1"></i><i class="fa fa-instagram border p-3 rounded mr-1"></i><i class="fa fa-dribbble border p-3 rounded mr-1"></i> <i class="fa fa-pinterest-p border p-3 rounded mr-1"></i> </div>
        </div>

        <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
        </div>

    </div>
}
