@model IEnumerable<Esh.Models.EshUser>

@{
    ViewData["Title"] = "Serch";
}


    @foreach (var obj in Model)
    {
        <div>


            <a href="~/Home/Request_Connect?fname=@obj.emailid"><button class="btn btn-success">Connect</button></a>


            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => obj.emailid)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => obj.emailid)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => obj.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => obj.name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => obj.Persnal_Site_URL)
                </dt>
                <dd class="col-sm-10">
                    <a href="@Html.DisplayFor(model => obj.Persnal_Site_URL)" target="_blank"> @Html.DisplayFor(model => obj.Persnal_Site_URL)</a>
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => obj.designation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => obj.designation)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.about)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => obj.about)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.gender)
                </dt>
                <dd class="col-sm-10">
                    @if (obj.gender)
                    {
                        <p>male</p>
                    }
                    else
                    {
                        <p>female</p>
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Schoolname)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => obj.Schoolname)
                </dd>
            </dl>
        </div>
}
